.sidebarContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #222222;
    color: #fcfcfc;
    height: 90vh;
    padding-top: 100px;
}

h4 {
    font-weight: 500;
    color: #ffffff;
}

.textInput {
    width: 20vw;
    margin: 10px;
    background-color: #212529;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    color: #fcfcfc;
}

.textInput:focus {
    border: 1px solid #ff5252;
    outline: none !important;
}

.searchResultContainer {
    width: 20vw;
    height: 50vh;
}

.searchResult {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    flex-direction: row;
    width: 20vw;
    height: 10vh;
    background-color: #212529;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    box-shadow: 1px 1px 3px #222222;
}

.searchResult:hover {
    border: 1.5px solid #ff5252;
}

.avatarCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameCol {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    width: fit-content;
}

.searchResultRow {
    width: 20vw;
}

.none {
    display: none;
}

.noResult{
    opacity: 0.5;
}