.header {
    width: 100vw;
    background-color: transparent !important;
    border-bottom: 1px solid #333333;
}

.navContainer {
    margin-right: 0px !important;
}

.navLink {
    margin-right: 20px !important;
}