.header {
    background-color: #232b2b !important;
}

.headerBrand {
    font-weight: 200;
    font-size: 24px;
    color: #ff5252 !important;
}

.navContainer {
    margin-right: 0px !important;
}

.navLink {
    margin-right: 20px !important;
}